.btn {
  padding: 12px 65px;
  border-radius: 45px;
  font-weight: 900;
  font-size: 20px;
  border: 1px solid transparent;
  color: $white;
  position: relative;
  cursor: pointer;
  transition: opacity .2s, background-color .3s, border-color .3s;
  height: 54px;
  outline: none;
  &:active {
    opacity: .9;
  }
  &__icon {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    fill: $white;
    transition: fill .4s;
  }
  &__pink {
    background: $pink;
    border-color: $pink;
    &:hover {
      background-color: $purple;
      border-color: $purple;
    }
  }
  &__transparent {
    background: transparent;
    border-color: $white;
    max-width: 232px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    &:hover {
      background: $white;
      color: $purple;
      & .btn__icon {
        fill: $purple;
      }
    }
  }
  @include media-breakpoint-down(md) {
    &__transparent {
      position: static;
      transform: translate(0);
    }
  }
  @include media-breakpoint-down(xs) {
    padding: 8px 42px;
    height: 42px;
    font-size: 18px;
    &__icon {
      width: 23px;
      height: 23px;
      left: 11px;
    }
  }
}