mixin modal-two
	.modal__tab2.modal-two#modal-two
		h4.modal-two__title Косоплетение
		.modal-two__content
			.modal-two__img
				img(src="images/card2.jpg")
			.modal-two__info
				p Маленькие, большие, объемные, французские, африканские — все виды плетения красивых косичек.
				p Модный тренд — косы с канекалоном.
				span.modal-two__price Цена от 400&nbsp;
					span ₽
				+btn('pink','btn__modal-one' , 'modal-one')
