.modal-two {
  height: 100%;
  display: block;
  padding: 56px 56px 78px;
  width: 940px;
  & .card__title {
    margin-top: 0;
    margin-bottom: 20px;
  }
  &__content {
    display: flex;
  }
  &__info {
    margin-left: 52px;
    padding-right: 110px;
  }
  p {
    font-size: 18px;
    line-height: 1.33;
    margin-top: 0;
    & + p {
      margin-top: 24px;
    }
  }
  &__price {
    color: $purple;
    font-size: 24px;
    margin-top: 32px;
    margin-bottom: 26px;
    font-weight: 700;
    display: block;
    & span {
      font-weight: 400;
    }
  }
  &__img {
    min-width: 366px;
    & img {
      height: 100%;
      border-radius: 10px;
    }
  }
  &__title {
    font-size: 36px;
    font-weight: 900;
    line-height: 1.47;
    color: $purple;
    margin-top: 0;
    margin-bottom: 15px;
  }
  @include media-breakpoint-down(md) {
    width: 100%;
    padding: 30px 30px 40px;
    &__info {
      padding-right: 20px;
      margin-left: 50px;
    }
  }
  @include media-breakpoint-down(sm) {
    padding: 20px 20px 30px;
    &__content {
      flex-direction: column;
    }
    &__title {
      margin-bottom: 15px;
      font-size: 30px;
    }
    &__info {
      padding-right: 0;
      margin-left: 0;
      margin-top: 30px;
    }
    &__img {
      min-width: 200px;
      width: 100%;
      & img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.modal__tab2 {
  display: none;
  &.modal__tab_active {
    display: block;
  }
}