.catalog {
  &__sliders-box {
    display: none;
  }
  &__gamepad {
    width: 141px;
    height: 119px;
    position: absolute;
    top: 43%;
    left: -90px;
    @include media-breakpoint-down(sm) {
      width: 60px;
      height: 59px;
      top: 99%;
      z-index: 2;
      left: -5px;
    }
  }
  &__btns-box {
    display: flex;
    margin-bottom: 38px;
  }
  &-btn {
    background: transparent;
    border: 1px dashed $pink;
    color: $purple;
    padding: 15px 58px;
    font-size: 24px;
    font-weight: 400;
    border-radius: 45px;
    transition: background-color .3s, border .3s, color .3s;
    cursor: pointer;
    &:hover {
      background: #fff0f2;
    }
    & + & {
      margin-left: 24px;
    }
    &.active {
      color: $white;
      background: $pink;
      border: 1px solid $pink;
      &:hover {
        background: #fb3a5e;
      }
    }
  }
  &__imgs-box {
    display: none;
    & img {
      width: auto;
      height: 100%;
      max-width: none;
    }
    &.active {
      display: flex;
    }
  }
  &__card-img {
    position: relative;
    margin-right: 13px;
    flex-basis: 40%;
    overflow: hidden;
    height: 526px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__right-container {
    flex-basis: 60%;
    min-width: 100px;
  }
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 256px;
    cursor: pointer;
    transition: opacity .2s ease-in;
    &:hover {
      opacity: .5;
    }
    & + & {
      margin-left: 13px;
    }
    &_middle {
      width: 60%;
    }
    &_small {
      width: 40%;
    }
    &-row1 {
      display: flex;
      margin-bottom: 13px;
      height: 256px;
    }
    &-row2 {
      display: flex;
      height: 256px;
    }
    &.active {
      opacity: .5;
    }
  }
  &__card-desc {
    background: $purple;
    font-weight: 700;
    font-size: 28px;
    line-height: .87;
    padding: 15px 20px;
    width: calc(100% - 48px);
    color: $white;
    display: block;
    position: absolute;
    border-radius: 5px;
    left: 9px;
    bottom: 7px;
  }
  @include media-breakpoint-down(sm) {
    &__sliders-box {
      display: block;
    }
    &__tabs {
      display: none;
    }
    &__card-img {

    }
  }
  @include media-breakpoint-down(xs) {
    &__card-img {
      height: 400px;
    }
    &__card-desc {
      padding: 10px 8px;
      font-size: 17px;
      width: calc(100% - 18px);
    }
  }

}
@media (max-width: 400px) {
  & .catalog__card-img {
    flex-basis: 100%;
    & img {
      height: 100%;
      width: 100%;
    }
  }
}

@include media-breakpoint-down(sm) {
  .sm-d-none {
    display: none;
  }
}