.map {
  height: 591px;
  &-contacts {
    display: flex;
    color: $purple;
    margin-bottom: 19px;
    & svg {
      fill: $purple;
      left: 10px;
    }
  }
  &__adress {
    display: flex;
    padding-left: 40px;
  }
  &__phone {
    display: flex;
    padding-left: 40px;
  }
  @include media-breakpoint-down(md) {
    &__phone,&__adress {
      font-size: 15px;
    }
  }
  @include media-breakpoint-down(sm) {
    height: 300px !important;
  }
  @include media-breakpoint-down(xs) {
    height: 250px !important;
    &__adress {
      height: 30px;
    }
    &-contacts {
      flex-wrap: wrap;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 42px;
  &__modal {
    padding: 70px 104px;
    position: relative;
    box-shadow: 7px 5px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 100%;
    & .form__title {
      font-size: 36px;
      text-align: center;
    }
  }
  &__title {
    font-weight: 900;
    font-size: 24px;
    color: $purple;
    margin-top: 0;
    line-height: 1;
    margin-bottom: 22px;
  }

  &__input {
    margin-bottom: 15px;
    position: relative;
    & input, & textarea {
      width: 100%;
      border: none;
      background: $form-bg;
      border-radius: 5px;
      padding: 0 20px 0 22px;
      display: flex;
      align-items: center;
      font-size: 18px;
      color: $black;
      font-weight: 400;
      height: 56px;
      &::placeholder {
        color: $black;
        font-size: 18px;
        font-weight: 400;
      }
    }
    & textarea {
      min-width: 100%;
      height: 100px;
      padding-top: 14px;
    }
  }
  & #time, & .datepicker-here {
    padding-right: 54px;
  }
  &__time-icon, &__date-icon {
    position: absolute;
    right: 17px;
    top: 50%;
    transform: translateY(-50%);
    fill: $purple;
  }
  &__time-icon {
    width: 24px;
    height: 24px;
  }
  &__date-icon {
    width: 22px;
    height: 22px;
  }
  /// CHECKBOX
  &__checkbox {
    margin-top: 14px;
    margin-bottom: 24px;
    & label {
      display: flex;
      align-items: center;
    }
  }
  &__checkmark {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: $form-bg;
    border-radius: 5px;
    position: relative;
    min-width: 30px;
    margin-right: 16px;
    &:before {
      content: url(../images/checkmark.svg);
      width: 18px;
      height: 13.5px;
      position: absolute;
      display: none;
      top: 7px;
      left: 6px;
    }
  }
  &__hidden-checkbox {
    display: none;
    &:checked {
      & ~ .form__checkmark:before {
        display: block;
      }
    }
  }
  &__text {
    font-size: 14px;
    font-weight: 300;
  }
  @include media-breakpoint-down(lg) {
    padding-left: 0;
    &__modal {
      & .form__title {
        font-size: 30px;
      }
      padding: 40px 30px;
      & .form__title {
        text-align: center;
      }
    }
  }
  @include media-breakpoint-down(md) {
    &__title {
      font-size: 20px;
    }
  }
  @include media-breakpoint-down(sm) {
    margin-top: 30px;
    &__modal {
      margin-top: 0;
      & .form__input {
        margin-bottom: 8px;
      }
    }
  }
  @include media-breakpoint-down(xs) {
    &__modal {
      & .form__title {
        font-size: 26px;
      }
      & .form__input {
        font-size: 12px;
        &:placeholder {
          font-size: 12px;
        }
      }
    }
  }
}

.contacts {
  &__cup {
    width: 141px;
    height: 127px;
    position: absolute;
    right: -113px;
    top: 15%;
  }
  &__cut {
    width: 119px;
    height: 98px;
    position: absolute;
    left: -91px;
    top: 70%;
  }
  @include media-breakpoint-down(sm) {
    &__cup {
      width: 85px;
      height: auto;
      right: 26px;
      top: 36%;
    }
    &__cut {
      left: -62px;
      top: 80%;
      z-index: 2;
    }
  }
  @media (max-width: 400px) {
    &__cup {
      width: 47px;
    }
  }
}