.page {
  flex: 1 0 auto;
  padding-top: 50px;
  background: $purple;
  overflow-x: hidden;
}

.content-box {
  position: relative;
  z-index: 1;
}

// background circles
.bg-circle {
  &__list {
    position: absolute;
    left: 50%;
    top: -2107px;
    transform: translateX(-50%);
  }
  &__item {
    border-radius: 50%;
    width: 5508px;
    height: 5508px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  &__item1 {
    width: 2322px;
    height: 2322px;
    background-color: $purple;
    margin: 0 auto;
    position: relative;
    z-index: 5;
  }
  &__item2 {
    background: url(../images/bg-stars1.png) no-repeat center bottom 6%;
    background-color: $pink;
    top: -73%;
    z-index: 4;
  }
  &__item3 {
    background: url(../images/bg-stars2.png) no-repeat center bottom 6%;
    background-color: #FFAC33;
    top: -19%;
    z-index: 3;
  }
  &__item4 {
    background: url(../images/bg-stars3.png) no-repeat center bottom 6%;
    background-color: $purple;
    top: 41%;
    z-index: 2;
  }
  &__item5 {
    background: url(../images/bg-stars4.png) no-repeat center bottom 6%;
    background-color: #FFAC33;
    top: 100%;
  }
  @include media-breakpoint-down(md) {
    &__item5 {
      top: 88%;
    }
  }
  @include media-breakpoint-down(sm) {
    &__item5 {
      top: 65%;
    }
  }
  @include media-breakpoint-down(xs) {
    &__item1 {
      top: -45px;
    }
    &__item5 {
      top: 57%;
    }
  }
}

*, *::before,
*::after{
  outline: navajowhite;
}
.container {
  @include media-breakpoint-only(xs) {
    padding-left: $grid-gutter-width-xs;
    padding-right: $grid-gutter-width-xs;
  }

  @include media-breakpoint-only(sm) {
    padding-left: $grid-gutter-width-sm;
    padding-right: $grid-gutter-width-sm;
    max-width: none;
  }
}

a {
  color: unset;
  text-decoration: none;
  transition: color .3s;
}

img {
  max-width: 100%;
  display: block;
}

ul,
ol {
  padding-left: 20px;
}

ul li {
  list-style-type: square;
}

.table {
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.table__element {
  width: 100%;
  min-width: 800px;
}

th {
  text-align: left;
}

.svg {
  width: 100%;
  height: 100%;
}

.logo {
  width: 222.38px;
  height: 203.46px;
  transition: transform .3s;
  &__box {
    margin: 53px 0 106.5px;
    display: flex;
    justify-content: center;
  }
  &:hover {
    transform: scale(1.1);
  }
}

/// white block
.white-box {
  background: $white;
  box-shadow: 7px 5px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 1px 70px 81px;
  margin-bottom: 100px;
  position: relative;
  @include media-breakpoint-down(md) {
    padding: 1px 40px 81px;
  }
  @include media-breakpoint-down(sm) {
    padding: 1px 25px 40px;
    margin-bottom: 60px;
  }
  @include media-breakpoint-down(xs) {
    padding: 1px 15px 20px;
    margin-bottom: 30px;
  }
}

h2 {
  font-weight: 900;
  color: $purple;
  font-size: 48px;
  margin-top: 68px;
  margin-bottom: 26px;
  &:before {
    display: block;
    content: "";
    height: 60px;
    margin: -60px 0 0;
  }
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@include media-breakpoint-down(sm) {
  h2 {
    font-size: 42px;
    margin-top: 43px;
    margin-bottom: 13px;
  }
  .logo {
    width: 160px;
    height: auto;
    &__box {
      margin: 53px 0 106.5px;
      display: flex;
      justify-content: center;
    }
  }
}

@include media-breakpoint-down(xs) {
  .logo {
    width: 130px;
    &__box {
      margin: 40px 0 29.5px;
    }
  }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  h2 {
    font-size: 32px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

.scale-hover {
  transition: transform .3s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(.9);
  }
}