.price-list {
  margin-bottom: 68px;
  &__gamepad {
    width: 157px;
    height: 134px;
    position: absolute;
    top: 45%;
    right: -120px;
    @include media-breakpoint-down(sm) {
      width: 60px;
      height: auto;
      top: 87%;
      right: 30px;
      z-index: 2;
    }
  }
  &__star {
    width: 100px;
    height: 103px;
    top: 73%;
    left: -70px;
    position: absolute;
    @include media-breakpoint-down(sm) {
      top: 82%;
      left: -14px;
    }
    @media (max-width: 400px) {
      width: 50px;
      height: auto;
      left: 0;
    }
  }
  &__item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    white-space: nowrap;
    align-items: flex-end;
    font-size: 20px;
    font-weight: 400;
    & span {
      font-weight: 700;
    }
  }
  &__text {
    line-height: 1.45;
    margin: 0 3px 0 0;
    display: flex;
    width: 100%;
    &:after {
      content: '';
      width: 100%;
      height: 1px;
      position: relative;
      top: 18px;
      border-bottom: 2px dotted rgba(0, 0, 0, .2);
      margin-left: 3px;
    }
  }
  @include media-breakpoint-down(xs) {
    margin-bottom: 30px;
    &__item {
      font-size: 14px;
    }
  }
}