body {
  font: 16px/1.5 'Circe', sans-serif;
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 0;
}

.common-text {
  margin: 0;
  font-size: 20px;
  line-height: 1.45;
  max-width: 530px;
  font-weight: 300;
}

@include media-breakpoint-down(xs) {
  .common-text {
    font-size: 16px;
  }
}