$purple: #6A4783;
$pink: #FF5171;
$white: #fff;
$black: #000;
$form-bg: #f4f4f4;
$light-pink: #F6E9FF;

$grid-gutter-width-xs: 20px;
$grid-gutter-width-sm: 25px;
$grid-gutter-width: 30px;

$container-max-widths: (
  md: 960px + $grid-gutter-width,
  lg: 1024px + $grid-gutter-width,
  xl: 1100px + $grid-gutter-width,
  //xxl: 1500px + $grid-gutter-width,
  //xxxl: 1800px + $grid-gutter-width
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  //xl: 1280px,
  //xxl: 1600px,
  //xxxl: 1920px
);