mixin modal-one
	.modal__tab.modal-one#modal-one
		form.form.form__modal(action="")
			h3.form__title Записаться в PlayCut
			.form__input
				input(type="text" name="name" placeholder="Имя вашего ребенка" title="Укажите имя вашего ребенка" required)
			.form__input
				input#mask(type="tel" name="phone" placeholder="+7 ___ __ __" title="Укажите ваш контактный телефон" required)
			.form__input
				input(type="text" name="type" placeholder="Тип услуги" )
			.form__input
				+icon('date-icon', 'form__date-icon')
				input.datepicker-here(type="text" name="date" placeholder="Желаемая дата записи" required)
			.form__input
				+icon('clock', 'form__time-icon')
				input#time(type="text" name="time" placeholder="Время записи" required)
			.form__textarea.form__input
				textarea(placeholder='Комментарий' name='comment')
			.form__checkbox
				label
					input.form__hidden-checkbox(type="checkbox")
					span.form__checkmark
					span.form__text Подтверждаю свое согласие на обработку данных
			+btn('pink', 'form-btn')