extends ../modules/layout/layout.pug

block page
	.page
		.bg-circle__list
			.bg-circle__item1.bg-circle__item
			.bg-circle__item2.bg-circle__item
			.bg-circle__item3.bg-circle__item
			.bg-circle__item4.bg-circle__item
			.bg-circle__item5.bg-circle__item
		.container.content-box
			.logo__box
				a(href="#").logo
					+icon('logo', 'logo__icon')
			+cut_and_play

			.white-box#catalog
				+icon('gamepad1', 'catalog__gamepad scale-hover')
				.catalog
					h2 Каталог причесок
					.catalog__tabs
						.catalog__btns-box
							button.catalog-btn.active(data-tab="1")
								span Для мальчиков
							button.catalog-btn(data-tab="2")
								span Для девочек
						.catalog__imgs-box.active(data-tab="1")
							.catalog__card-img(style="background: url(images/boy1.jpg) center no-repeat; background-size: cover;")
								span.catalog__card-desc Модельная стрижка и выстриг
							.catalog__right-container
								.catalog__img-row1
									.catalog__img.catalog__img_middle(data-desc="Другая стрижка" data-src="boy2.jpg" style="background: url(images/boy2.jpg) center no-repeat; background-size: cover;")
									.catalog__img.catalog__img_small(data-desc="Еще какая то стрижка" data-src="boy3.jpg" style="background: url(images/boy3.jpg) center no-repeat; background-size: cover;")
								.catalog__img-row2
									.catalog__img.catalog__img_small(data-desc="Третья стрижка" data-src="boy4.jpg" style="background: url(images/boy4.jpg) center no-repeat; background-size: cover;")
									.catalog__img.catalog__img_middle(data-desc="Четвёртая стрижка" data-src="boy5.jpg" style="background: url(images/boy5.jpg) center no-repeat; background-size: cover;")
						.catalog__imgs-box(data-tab="2")
							.catalog__card-img(style="background: url(images/boy1.jpg) center no-repeat; background-size: cover;")

								span.catalog__card-desc Модельная стрижка и выстриг
							.catalog__right-container
								.catalog__img-row1
									.catalog__img.catalog__img_middle(data-desc="Другая стрижка" data-src="boy2.jpg" style="background: url(images/boy2.jpg) center no-repeat; background-size: cover;")
									.catalog__img.catalog__img_small(data-desc="Еще какая то стрижка" data-src="boy3.jpg" style="background: url(images/boy3.jpg) center no-repeat; background-size: cover;")
								.catalog__img-row2
									.catalog__img.catalog__img_small(data-desc="Третья стрижка" data-src="boy4.jpg" style="background: url(images/boy4.jpg) center no-repeat; background-size: cover;")
									.catalog__img.catalog__img_middle(data-desc="Четвёртая стрижка" data-src="boy5.jpg" style="background: url(images/boy5.jpg) center no-repeat; background-size: cover;")
					.catalog__sliders-box
						.catalog-slider.catalog__boys-slider
							.catalog__card-img(style="background: url(images/boy1.jpg) center no-repeat; background-size: cover;")
								span.catalog__card-desc Модельная стрижка и выстриг
							.catalog__card-img(style="background: url(images/boy2.jpg) center no-repeat; background-size: cover;")
								span.catalog__card-desc Модельная стрижка и выстриг
							.catalog__card-img(style="background: url(images/boy3.jpg) center no-repeat; background-size: cover;")
								span.catalog__card-desc Модельная стрижка и выстриг
							.catalog__card-img(style="background: url(images/boy4.jpg) center no-repeat; background-size: cover;")
								span.catalog__card-desc Модельная стрижка и выстриг
							.catalog__card-img(style="background: url(images/boy5.jpg) center no-repeat; background-size: cover;")
								span.catalog__card-desc Модельная стрижка и выстриг
						.catalog-slider.catalog__girls-slider
							.catalog__card-img(style="background: url(images/boy1.jpg) center no-repeat; background-size: cover;")
								span.catalog__card-desc Модельная стрижка и выстриг
							.catalog__card-img(style="background: url(images/boy2.jpg) center no-repeat; background-size: cover;")
								span.catalog__card-desc Модельная стрижка и выстриг
							.catalog__card-img(style="background: url(images/boy3.jpg) center no-repeat; background-size: cover;")
								span.catalog__card-desc Модельная стрижка и выстриг
							.catalog__card-img(style="background: url(images/boy4.jpg) center no-repeat; background-size: cover;")
								span.catalog__card-desc Модельная стрижка и выстриг
							.catalog__card-img(style="background: url(images/boy5.jpg) center no-repeat; background-size: cover;")
								span.catalog__card-desc Модельная стрижка и выстриг

			.white-box#services
				+icon('gamepad2', 'price-list__gamepad scale-hover')
				+icon('star', 'price-list__star scale-hover')
				h2 Узнать цены
				.price-list
					.price-list__item
						p.price-list__text Стрижка машинков
						span от 290
						| &nbsp;&#8381
					.price-list__item
						p.price-list__text Модельная стрижка для мальчиков
						span 520
						| &nbsp;&#8381
					.price-list__item
						p.price-list__text Модельная стрижка для девочек
						span 190
						| &nbsp;&#8381
					.price-list__item
						p.price-list__text Стрижка челки
						span 300
						| &nbsp;&#8381
					.price-list__item
						p.price-list__text Подравнивание кончиков волос
						span 70
						| &nbsp;&#8381
					.price-list__item
						p.price-list__text Фигурный выстриг
						span 550
						| &nbsp;&#8381
					.price-list__item
						p.price-list__text Укладка волос
						span 850
						| &nbsp;&#8381
					.price-list__item
						p.price-list__text Праздничная прическа
						span 400
						| &nbsp;&#8381
					.price-list__item
						p.price-list__text Плетение кочисек
						span 250
						| &nbsp;&#8381
					.price-list__item
						p.price-list__text Глиттер тату
						span 520
						| &nbsp;&#8381
					.price-list__item
						p.price-list__text Детский маникюр
						span от 520
						| &nbsp;&#8381
					.price-list__item
						p.price-list__text Детский макияж
						span от 290
						| &nbsp;&#8381
					.price-list__item
						p.price-list__text Мужская стрижка
						span 900
						| &nbsp;&#8381
					.price-list__item
						p.price-list__text Женская стрижка
						span от 290
						| &nbsp;&#8381
					.price-list__item
						p.price-list__text Семейная стрижка
						span от 290
						| &nbsp;&#8381
				.center
					+btn('pink', 'btn__modal-one', 'modal-one')

			.white-box#contacts
				+icon('cup', 'contacts__cup scale-hover')
				+icon('cut', 'contacts__cut scale-hover')
				.contacts
					.row
						h2.col-12 Контакты
						.col-md-7
							.map-contacts
								.header-contacts__adress.map__adress
									+icon('location', '')
									a(href="#" title="Наш адрес") ТЦ Флагман, 2 этаж
								.header-contacts__phone.map__phone
									+icon('phone', '')
									a(href="tel:+79127415690" title="Наш телефон") +7 912 741 56 90
							.map#map
								script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0f145feecbbc272bd905ad36a60be31a79974a3781fff85eaec93973b03deee9&amp;width=100%25&amp;&amp;lang=ru_RU&amp;scroll=false;autoFitToViewport='always'")
						.col-md-5
							form.form(action="")
								h3.form__title Записаться в PlayCut
								.form__input
									input(type="text" name="name" placeholder="Имя вашего ребенка" title="Укажите имя вашего ребенка" required)
								.form__input
									input#mask(type="tel" name="phone" placeholder="+7 ___ __ __" title="Укажите ваш контактный телефон" required)
								.form__input
									input(type="text" name="type" placeholder="Тип услуги" )
								.form__input
									+icon('date-icon', 'form__date-icon')
									input.datepicker-here(type="text" name="date" placeholder="Желаемая дата записи" required)
								.form__input
									+icon('clock', 'form__time-icon')
									input#time(type="text" name="time" placeholder="Время записи" required)
								.form__textarea.form__input
									textarea(placeholder='Комментарий' name='comment')
								.form__checkbox
									label
										input.form__hidden-checkbox(type="checkbox")
										span.form__checkmark
										span.form__text Подтверждаю свое согласие на обработку данных
								+btn('pink', 'form-btn')
			.cards.cards__margin-top#stock
				.cards__box
					+card('card1.jpg', 'Скидка на первую стрижку', 'Моментальная скидка сразу при первом приеме')
					+card('card2.jpg','Косоплетение', 'Маленькие, большие, объемные, французские, африканские')
					+card('card3.jpg', 'Прокол ушек', 'Прокол ушек пистолетом без боли')

			.discounts
				.discounts__img
					img(src="images/discounts.jpg")
				.discounts__info
					h4.card__title Сеиейная скидка
					.discounts__list
						p.discounts__item Папа + ребенок = 900 рублей
						p.discounts__item Мама + ребенок = 1000* рублей
						p.discounts__item Папа + 2 ребенка = 1300 рублей
						p.discounts__item Мама + 2 ребенка = 1400* рублей
						p.discounts__item Мама + папа+ребенок = 1400* рублей
						p.discounts__item Мама + папа + 2 ребенка = 1800* рублей
					span.discounts__footer если у мамы длинные волосы плюс 100 рублей к стоимости.

			.cards
				.cards__box
					+card('card4.png', 'Скидка на первую стрижку', 'Моментальная скидка сразу при первом приеме')
					+card('card5.png','Косоплетение', 'Маленькие, большие, объемные, французские, африканские')
					+card('card6.png', 'Прокол ушек', 'Прокол ушек пистолетом без боли')

