mixin card(img, title, text, className, modal)
	.card(data-modal="modal-two")
		.card__img(class= className)
			img(src=`images/${img}` alt= title)
		.card__footer
			h4.card__title= title
			p.card__text= text