.cards {
  &__box {
    display: flex;
    justify-content: space-between;
    @include media-breakpoint-down(sm) {
      display: inline-block;
      -webkit-overflow-scrolling: touch;
      overflow-x: scroll;
      white-space: nowrap;
      width: calc(100vw + 50px);
      padding: 0 50px;
      margin: 0 -50px;
    }
    @include media-breakpoint-down(xs) {
      width: calc(100vw + 20px);
      padding: 0 20px;
      margin: 0 -20px;
    }
  }
  &__margin-top {
    margin-top: 210px;
    @include media-breakpoint-down(sm) {
      margin-top: 45px;
    }
  }
}
.card {
  cursor: pointer;
  flex: 33.33%;
  background: $white;
  box-shadow: 7px 5px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
  transition: background-color .3s, colo .3s;
  @include media-breakpoint-up(lg) {
    &:hover {
      background: $purple;
      & .card__title {
        color: $white;
      }
      & .card__text {
        color: $white;
      }
    }
  }
  & + & {
    margin-left: 35px;
  }
  &__title {
    font-size: 30px;
    font-weight: 700;
    color: $purple;
    margin-top: 36px;
    line-height: .87;
    margin-bottom: 0;
    transition: color .3s;
  }
  &__text {
    transition: color .3s;
    font-size: 18px;
    font-weight: 400;
    color: $black;
    align-self: flex-end;
    margin: 0;
    height: 80px;
  }
  &__img {
    width: 100%;
    background: $light-pink;
    & img {
      width: 100%;
      height: auto;
      max-width: none;
    }
  }
  &__footer {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    padding: 0 40px;
    height: 177px;
  }
  @include media-breakpoint-down(md) {
    &__title {
      font-size: 25px;
      margin-top: 20px;
    }
    &__footer {
      padding: 0 20px;
    }
    &__text {
      height: 105px;
    }
    & + & {
      margin-left: 15px;
    }
  }
  @include media-breakpoint-down(sm) {
    width: 237px;
    display: inline-block;
    white-space: normal;
  }
}

.discounts {
  display: flex;
  margin-top: 84px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 82px;
  @include media-breakpoint-up(lg) {
    &:hover {
      & .discounts__info {
        background: $purple;
      }
      & .discounts__item, & .discounts__footer, & .card__title {
        color: $white;
      }
    }
  }
  &__info {
    padding-left: 30px;
    padding-right: 44px;
    padding-bottom: 50px;
    background: $white;
    transition: background-color .3s;
  }
  &__img {
    & img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  &__list {
    font-size: 18px;
    font-weight: 400;
    color: $black;
    margin-top: 29px;
  }
  &__item {
    margin: 0;
    transition: coor .3s;
  }
  &__footer {
    font-size: 14px;
    font-weight: 400;
    margin-top: 26px;
    padding-left: 18px;
    position: relative;
    transition: colo .3s;
    display: block;
    color: $black;
    &:before {
      content: '*';
      font-family: 'Circe';
      font-size: 14px;
      left: 0;
      top: 0;
      position: absolute;
    }
  }
  @include media-breakpoint-down(lg) {
    &__img {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      flex: 50%;
    }
    &__info {
      flex: 50%;
    }
  }
  @include media-breakpoint-down(md) {
    &__img {
      & img {
        height: 100%;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    margin-top: 60px;
    margin-bottom: 60px;
    &__img {
      flex: 30%;
    }
    &__info {
      flex: 70%;
    }
  }
  @include media-breakpoint-down(xs) {
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    &__info {
      display: flex;
      flex-direction: column;
      padding: 0 15px 30px;
    }
    &__list {
      font-size: 16px;
    }
  }
}