include ../icon/icon
include ../modal/modal
include ../burger/burger
include ../site/site
include ../btn/btn
include ../cut_and_play/cut_and_play
include ../card/card

doctype html
html(lang="ru")
  head
    title Template
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,user-scalable=no,maximum-scale=1.0,viewport-fit=cover")
    meta(name="format-detection" content="telephone=no")
    meta(name="format-detection" content="address=no")
    meta(name="description" content="Template")
    meta(name="keywords" content="Template")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="images/favicon-windows-144x144.png")
    meta(name="msapplication-config" content="browserconfig.xml")
    link(href="site.webmanifest" rel="manifest")
    link(href="images/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png")
    link(href="images/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png")
    link(href="images/favicon-ios-180x180.png" rel="apple-touch-icon" sizes="180x180")
    link(href="images/favicon-macos.svg" rel="mask-icon" color="#5bbad5")
    link(href="styles/main.css" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
    script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
    script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
    //script(src="modules/site/datapicker.js" defer)
    script(src="scripts/main.js" defer)

  body
    .svg-sprite#svg-sprite(data-path="images/sprite.svg")
    +modal
    +burger
    +site