.fotorama {
  padding-top: 58px;
  position: relative;
  &__box {
    margin-top: -116px;
    cursor: grab;
  }
  @include media-breakpoint-down(xs) {
    padding-top: 20px;
    &__box {
      margin: 0;
    }
  }
  &__star {
    width: 92px;
    height: 95px;
    position: absolute;
    top: 50%;
    right: -55px;
  }
  @include media-breakpoint-down(sm) {
    &__star {
      right: 30px;
      top: 80%;
    }
  }
  @media (max-width: 400px){
    &__star {
      right: -55px;
    }
  }
}

.dots {
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 21px auto 0;
  position: absolute;
  z-index: 10;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  & li {
    list-style: none;
    height: 15px;
    width: 30px;
    &:first-child > button {
    }
  }
  & button {
    transition: background-color .3s;
    background: transparent;
    border: 1px solid $purple;
    text-indent: 999px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    padding: 0;
  }

  & .slick-active {
    & button {
      background-color: $purple;
    }
  }
  @include media-breakpoint-down(sm) {
    margin-top: 10px;
  }
  @include media-breakpoint-down(xs) {
    position: absolute;
    bottom: -30px;
    margin-top: 0;
    height: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.slick-next, .slick-prev {
  background-color: $pink;
  height: 100px;
  width: 100px;
  outline: none;
  border-radius: 50%;
  border: 10px solid $white;
  position: absolute;
  text-indent: 999px;
  overflow: hidden;
  z-index: 100;
  cursor: pointer;
  transition: background-color .3s;
  &:hover {
    &.slick-next, &.slick-prev {
      background: $purple;
    }
  }
  &:before {
    height: 15px;
    width: 15px;
    content: '';
    display: block;
    border: 3px solid $white;
    border-bottom: none;
    border-right: none;
    position: absolute;
    top: 50%;
  }
  @include media-breakpoint-down(sm) {
    width: 50px;
    height: 50px;
    border: 3px solid $white;
    &:before {
      width: 15px;
      height: 15px;
    }
  }
  @include media-breakpoint-down(xs) {
    display: none;
  }
}


.slick-prev {
  top: 50%;
  transform: translateY(-50%);
  left: -50px;
  &:before {
    transform: translateY(-50%) rotate(-45deg);
    left: 28px;
  }
  @include media-breakpoint-down(sm) {
    left: -25px;
    &:before {
      left: 14px;
    }
  }
}
.slick-next {
  top: 50%;
  transform: translateY(-50%);
  right: -50px;
  &:before {
    transform: translateY(-50%) rotate(135deg);
    right: 28px;
  }
  @include media-breakpoint-down(sm) {
    right: -25px;
    &:before {
      right: 14px;
    }
  }
}
