.header {
  width: 100%;
  height: 70px;
  min-height: 70px;
  background: $purple;
  color: $white;
  white-space: nowrap;
  display: flex;
  align-items: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  box-shadow: 0 2px 10px 0 rgba(55, 63, 71, 0.3);
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    position: relative;
  }
  // contacts
  &-contacts {
    display: flex;
    &__adress {
      font-size: 18px;
      font-weight: 400;
      display: flex;
      position: relative;
      & svg {
        width: 15.35px;
        height: 20px;
        position: absolute;
        left: -30px;
        fill: $white;
      }
    }
    &__phone {
      position: relative;
      display: flex;
      font-weight: 700;
      margin-left: 45px;
      & svg {
        width: 16.78px;
        height: 18px;
        position: absolute;
        left: -27px;
        fill: $white;
      }
    }
  }
  &__social {
    display: flex;
    margin-left: 20px;
    position: relative;
    bottom: 7px;
  }
  &__inst {
    height: 24px;
    width: 24px;
  }
  &__vk{
    height: 24px;
    width: 24px;
    margin-right: 12.25px;
  }
  &__vk, &__inst {
    & svg {
      fill: white;
      transition: fill .3s;
    }
    &:hover {
      & svg {
        fill: $pink;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    &-contacts__phone {
      display: none;
    }
    &__social {
      bottom: 5px;
    }
  }
  @include media-breakpoint-down(md) {
    align-items: center;
    &-contacts {
      display: none;
      &__phone {
        margin: 0;
      }
      &__adress {
        margin: 0;
      }
    }
    &__box {
      justify-content: space-between;
    }
    .burger {
      &-btn {
        width: 28px;
        height: 21px;
        position: relative;
        display: flex;
        align-items: center;
      }
      &__line {
        height: 3px;
        border-radius: 2px;
        background: $white;
        width: 100%;
        &:before, &:after {
          content: '';
          display: block;
          height: 3px;
          width: 100%;
          background: $white;
          position: absolute;
        }
        &:before {
          top: 0;
          left: 0;
        }
        &:after {
          bottom: 0;
          left: 0;
        }
      }
    }
    &__social {
      margin: 0;
    }
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  &__link {
    & + & {
      margin-left: 20px;
    }
    &:hover {
      text-shadow: -.3px -.3px 0 $white, .3px .3px 0 $white;
    }
  }
  @include media-breakpoint-down(lg) {
    &__link {
      & + & {
        margin-left: 8px;
      }
    }
  }
  @include media-breakpoint-down(md) {
    display: none;
    &__link {
      font-size: 20px;
      text-align: center;
      & + & {
        margin-left: 0;
        margin-top: 10px;
      }
    }
  }
}