mixin header
  header.header
    .container
      .header__box
        .nav
          a.nav__link(href="#about-us" title="О нас") О нас
          a.nav__link(href="#catalog" title="Каталог причёсок") Каталог
          a.nav__link(href="#services" title="Услуги") Услуги
          a.nav__link(href="#contacts" title="Контакты") Контакты
          a.nav__link(href="#stock" title="Акции") Акции
        +btn('transparent', 'btn__modal-one', 'modal-one')
        .header-contacts
          .header-contacts__adress
            +icon('location', '')
            a(href="#" title='Наш адрес') ТЦ Флагман, 2 этаж
          .header-contacts__phone
            +icon('phone', '')
            a(href="tel:+79127415690" title="Наш телефон") +7 912 741 56 90
          .header__social
            a.header__vk(href="#" title="Мы в контакте")
              +icon('vk-icon', 'header__vk-icon')
            a.header__inst(href="#" title="Мы в инстаграмме")
              +icon('insta-icon', 'header__inst-icon')
        .burger-btn#burger-open(data-burger)
          .burger__line
