mixin footer
	footer.footer
		.container
			.footer__box
				a(href="#").logo.footer__logo
					+icon('logo', 'logo__icon')
				.nav.footer__nav
					a.nav__link(href="#about-us" title="О нас") О нас
					a.nav__link(href="#catalog" title="Каталог причёсок") Каталог
					a.nav__link(href="#services" title="Услуги") Услуги
					a.nav__link(href="#contacts" title="Контакты") Контакты
					a.nav__link(href="#stock" title="Акции") Акции
				.footer__contacts
					.header-contacts__adress
						+icon('location', '')
						a(href="#" title="Наш адрес") ТЦ Флагман, 2 этаж
					.header-contacts__phone.footer__phone
						+icon('phone', '')
						a(href="tel:+79127415690" title="Наш телефон") +7 912 741 56 90
				.header__social.footer__social
					a.header__vk(href="#" title="Мы в контакте")
						+icon('vk-icon', 'header__vk-icon')
					a.header__inst(href="#" title="Мы в инстагрмме")
						+icon('insta-icon', 'header__inst-icon')