.footer {
  width: 100%;
  flex-shrink: 0;
  position: relative;
  z-index: 10;
  padding-top: 170px;
  padding-bottom: 150px;
  color: $white;
  background: url(../images/bg-footer1.png), url(../images/bg-footer2.png);
  background-position: 4% -28%, 90% 5%;
  background-repeat: no-repeat;
  background-color: $purple;
  &__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__logo {
    width: 142.69px;
    height: 130px;
    margin-top: -40px;
  }
  & .header-contacts__phone {
    margin-left: 0;
    margin-top: 11px;
  }
  &__nav, &__phone {
    display: flex !important;
  }
  @include media-breakpoint-down(md) {
    &__nav {
      display: block !important;
      & .nav__link {
        display: block;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: -170px -28%, 90% 5%;
    &__nav, &__logo, &__contacts, &__social {
      flex-basis: 50%;

    }
    &__logo {
      margin-top: 0;
    }
    &__contacts {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
    }
    &__social {
      display: flex;
      margin-top: 50px;
      justify-content: center;
    }
  }
  @include media-breakpoint-down(xs) {
    &__logo {
      margin: 0 auto;
      max-width: 120px;
      height: 100px;
      flex-basis: 100%;
    }
    &__nav {
      flex-basis: 100%;
      margin-top: 35px;
    }
    &__contacts {
      flex-basis: 100%;
      margin-top: 35px;
    }
    &__social {
      flex-basis: 100%;
      margin-top: 35px;
    }
  }
}