mixin burger
  .burger#burger
    a.burger__close(href="./" data-burger)
      +icon('close', 'burger__close-icon')

    a.nav__link(href="#about-us") О нас
    a.nav__link(href="#catalog") Каталог
    a.nav__link(href="#services") Услуги
    a.nav__link(href="#contacts") Контакты
    a.nav__link(href="#stock") Акции
    +btn('transparent', 'btn__modal-one', 'modal-one')

    .header-contacts__adress
      +icon('location', '')
      a(href="#") ТЦ Флагман, 2 этаж
    .header-contacts__phone.burger__item
      +icon('phone', '')
      a(href="tel:+79127415690") +7 912 741 56 90
    .header__social
      a.header__vk(href="#")
        +icon('vk-icon', 'header__vk-icon')
      a.header__inst(href="#")
        +icon('insta-icon', 'header__inst-icon')