.burger {
  width: 100%;
  max-width: 400px;
  height: 100%;
  position: fixed;
  z-index: 800;
  transform: translateX(-100%);
  transition: transform .3s;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: $purple;
  color: $white;
  &-btn {
    display: none;
  }
  &_active {
    transform: none;
    box-shadow: 2px 0 10px 0 rgba($black, .25);
  }
  &__item {
    @include media-breakpoint-down(md) {
      display: flex !important;
    }
  }

  @include media-breakpoint-down(xs) {
    width: 100vw;
    max-width: none;
  }
}

.burger__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 16px;
  height: 16px;
  transition: transform .3s;

  &:hover {
    transform: rotate(90deg) scale(1.2);
  }
  &-icon {
    fill: $white;
  }
}

.burger__close-icon {
  width: 100%;
  height: 100%;
}