mixin cut_and_play
	.white-box#about-us
		+icon('star', 'fotorama__star scale-hover')
		.fotorama
			.fotorama__box
				img(src="images/fotorama1.jpg" alt='Парикмахерская cutPlay')
				img(src="images/fotorama1.jpg" alt='Парикмахерская cutPlay')
				img(src="images/fotorama1.jpg" alt='Парикмахерская cutPlay')
				img(src="images/fotorama1.jpg" alt='Парикмахерская cutPlay')
				img(src="images/fotorama1.jpg" alt='Парикмахерская cutPlay')
			.dots
		.row
			h2.col-12 Стригись, играй!
			.col-md-7.col-xl-6
				p.common-text У&nbsp;нас созданы все условия для маленьких непосед. Маленького модника встречает улыбчивый персонал, в&nbsp;его индивидуальное пользование предоставляется личный автотранспорт с&nbsp;кучей кнопок и&nbsp;мигающих лампочек, заменяющий обычное парикмахерское кресло. И&nbsp;вот юный водитель уже абсолютно не&nbsp;обращает внимания на&nbsp;то, что тётя делает с&nbsp;его волосами. Оказывается, что стричься не&nbsp;только не&nbsp;страшно, но&nbsp;и&nbsp;ужасно интересно!
			.col-md-5.col-xl-5.offset-xl-1
				.advantages__list
					p.advantages__item Стрижка без слёз
					p.advantages__item  Мультики и приставки
					p.advantages__item Игровая комната
				+btn('pink', 'btn__modal-one', 'modal-one')