.advantages {
  &__list {
    margin-bottom: 48px;
  }
  &__item {
    position: relative;
    font-weight: 700;
    font-size: 24px;
    color: $purple;
    margin: 0;
    display: flex;
    transition: color .3s;
    & + & {
      margin-top: 15px;
    }
    &:before {
      content: url(../images/heart-icon.svg);
      height: 22px;
      height: 23.28px;
      margin-right: 36px;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: 3px;
    }
    &:hover {
      color: $pink;
    }
  }
  @include media-breakpoint-down(sm) {
    &__list {
      margin-top: 40px;
      margin-bottom: 35px;
    }
    &__item {
      font-size: 20px;
    }
  }
}