.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
  z-index: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  &_active {
    opacity: 1;
    visibility: visible;
  }
}

.modal__overlay {
  width: 100%;
  height: 100%;
  background: rgba($black, .7);
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  transition: transform .3s;
  z-index: 3;
  & svg {
    fill: $pink
  }

  &:hover {
    transform: rotate(90deg) scale(1.2);
  }
  @include media-breakpoint-down(md) {
    width: 20px;
    height: 20px;
  }
}

.modal__close-icon {
  width: 100%;
  height: 100%;
  fill: $white;
  cursor: pointer;
  @include media-breakpoint-down(xs) {
    fill: $black;
  }
}

.modal__content {
  background: $white;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  overflow: auto;
  max-height: calc(100vh - 30px);
  @include media-breakpoint-down(sm) {
    width: 64vw;
  }
  @include media-breakpoint-down(xs) {
    width: 95vw;
  }
}

.modal__tab {
  display: none;

  &_active {
    display: flex;
  }
}