include ../modal-one/modal-one
include ../modal-two/modal-two

mixin modal
  .modal#modal
    .modal__overlay
    .modal__content
      a.modal__close(href="./" data-modal)
        +icon('close', 'modal__close-icon')
      +modal-one
      +modal-two